html,
body {
  margin: 0px;
  padding: 0px;
}

.cont {
  position: relative;
}

.logo-container {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 100;
  background-color: rgb(255, 255, 255);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5em;
  box-shadow: 0px 0px 5px rgb(255, 196, 0);
}
.logo {
  box-shadow: 5px 5px 10px #ffffff, -5px -5px 10px #3b3b3b;
  border-radius: 0.5em;
}
.logo:hover {
  transform: scale(1.5);
  transition: ease-in-out;
  transition-duration: 0.2s;
}
/* carousel image */
.c-img {
  position: relative;
  animation-name: sc;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function: inherit;
  /* animation-direction: alternate; */
  animation-fill-mode: both;
}
.navbar {
  position: absolute;
  top: 10px;
  right: 0px;
  z-index: 100;
  padding: 5px 20px;
  border-radius: 5px 0px 0px 5px;
  background-color: rgba(0, 0, 0, 0.267);
}
.navbar:hover {
  background-color: rgba(0, 0, 0, 0.527);
}
.navbar a {
  font-size: large;
  text-decoration: none;
  color: rgb(255, 203, 92);
}
.navbar a:hover {
  color: rgb(240, 176, 38);
}
/* navbar ends here */

/*=========================== moto starts ======================= */
.moto {
  padding: 100px;
  height: 500px;
  text-align: center;
  background-image: url("https://images.pexels.com/photos/1552245/pexels-photo-1552245.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
}
.moto h2 {
  background-color: rgba(255, 255, 255, 0.212);
  padding: 20px;
  width: 20%;
  margin: auto;
}

/* ====================== workouts ======================= */
.workouts {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* ======================= trainers =========================== */

.trainers-container {
  background-image: url("./assets/carbon_fibre.png");
  background-repeat: repeat;
  background-size: auto;
  padding: 5rem 0rem;
}
.trainers-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 2em;
  justify-items: center;
  row-gap: 4em;
}
.trainer-card {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.692);
  border: none;
  width: 23rem;
  background-color: white;
}
.trainer-card img {
  height: 500px;
  width: 23rem;
}
.trainer-card p {
  text-align: center;
}

/* ======================== gallery =========================== */
/* .gallery {
} */

.gallery-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.gallery div {
  overflow: hidden;
}

.gallery img:hover {
  transition: ease-in-out;
  transition-duration: 0.2s;
  transform: scale(1.02, 1.02);
}

/* ======================== footer =========================== */
.footer-info-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  padding: 2em;
  background-image: url("./assets/carbon_fibre.png");
  background-repeat: repeat;
  background-size: auto;
}
.footer-contact {
  align-self: center;
  padding: 1em;
}
.footer-contact-details {
  display: grid;
  grid-template-columns: 5% 90%;
  justify-content: center;
  align-items: center;
  column-gap: 0.5em;
  padding: 0.2em;
  color: gray;
}
.footer-contact-details span:hover {
  transition-duration: 0.2s;
  transform: translateX(5px);
  color: rgb(255, 207, 103);
}
.footer-contact img {
  background-color: white;
  padding: 1px;
  border-radius: 5px;
  height: 20px;
  width: 20px;
}
.footer-contact img:hover {
  transform: rotate(10deg);
}
.footer-contact h2 {
  color: white;
}
.youtube-container {
  width: 100%;
}
.footer-end {
  background-color: black;
  color: white;
  text-align: center;
  margin: 0px;
  padding: 0.5rem;
}
/* animations */
@keyframes sc {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1.2);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);

    /* transform: translate(20, 60); */
  }
}

/* for ipad  and other tabs*/

@media only screen and (max-width: 820px) {
  .moto {
    padding: 4rem;
    padding-top: 2rem;
  }
  .moto h2 {
    width: 100%;
  }
  .workouts {
    grid-template-columns: 1fr;
  }

  .trainers-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2em;
    padding: 0em;
  }

  iframe {
    height: 600px;
  }
}

/* for mobile */
@media only screen and (max-width: 600px) {
  /* .navbar {
    font-size: 1rem;
    padding: 0px 5px;
    background-color: rgba(184, 157, 68, 0.61);
    border-radius: 2px;
  } */
  .navbar a {
    padding: 5px;
  }
  .moto {
    padding: 1em;
    padding-top: 2rem;
  }
  .moto h2 {
    padding: 2px;
    width: 100%;
  }
  .workouts {
    grid-template-columns: 1fr;
  }

  .trainers-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2em;
    column-gap: 0.1em;
    padding: 0em;
  }
  .trainer-card {
    height: 300px;
    width: 12rem;
  }
  .trainer-card img {
    width: 100%;
    height: 80%;
    /* height: 10rem; */
  }
  /* 
  .gallery {
  } */
  iframe {
    height: 400px;
  }
  .footer-info-row {
    grid-template-columns: 1fr;
    padding: 2px;
  }
}
